svg {
  width: 600px;
  height: 600px;
  border: 1px solid gray; }

.link {
  stroke: #000;
  stroke-width: 1.5px; }

.node {
  fill: red;
  stroke: red;
  stroke-width: 1.5px; }

.node.hidden {
  fill: #ccc;
  stroke: #ccc; }
